body{
	font-family: arial;
	background-color: rgb(246, 178, 107);
}

ul {
	list-style-type: none;
	margin:0;
	padding:0;
}
#plantillas{
	display: none;
}

.alto_pulgar{
    height: 3em;
}

.ancho_pulgar{
    width: 3em;
}

div.pantalla{
    display: none;
    position: absolute;
    top: 6em;
    bottom: 0px;
	left:0px;
	right:0px;
	background-color: #c8c8c8;
	overflow: hidden;
}




div.list{
	overflow-x: hidden;
	overflow-y: scroll;
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	
	border-top: solid 2px rgb(223, 164, 103);
	border-left: solid 2px rgb(150,150,150);
}


li.list_item{
	background-color: rgb(200,200,200);
	color: rgb(70,70,70);
	text-align: left;
	height: 3em;
	padding-top: 4px;
	border-bottom: solid 1px rgb(190,190,190);
}



div.detail{
	position:absolute;
	left: 25px;
	right: 25px;
	top: 0px;
	background-color: rgb(246, 178, 107);
	border: solid 2px rgb(190, 169, 147);
	border-radius: 0px 0px 6px 6px;

	display: none;
}

div.list{
	position:absolute;
	top: 0px;
}



div.overlay{
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	opacity:0.5;
	background-color:gray;
	display:none;
}


.nombre_atributo{
    position:absolute;
    top: 15px;
    right: 71%;
    color: gray;
}
.lbl_valor_atributo{
    position:absolute;
    top: 15px;
    left: 31%;    
}
.txt_valor_atributo{
    position: absolute;
    top: 3px;
    left: 31%;
    display: none;
    width: 69%;
    background-color: #c8c8c8;
    border: none;
    bottom: 0px;
    font-size: 18px;
}
.contenedor_atributo{
    position: relative;
    box-sizing: border-box;
    font-size: 18px;
    cursor: pointer;
}



@media (max-width: 600px) {
    .nombre_atributo{
        left: 4px;
        top: 4px;
        font-size: 14px;
    }
    .lbl_valor_atributo{
        left: 4px;
        bottom: 4px;
        top: initial;
    }
    .txt_valor_atributo{
        left: 4px;
        bottom: 4px;
        top: initial;
        width: 98%;
    }
}