body{
	font-family: arial;
	background-color: rgb(246, 178, 107);
}

ul {
	list-style-type: none;
	margin:0;
	padding:0;
}
#plantillas{
	display: none;
}

div.pantalla{
    display: none;
    position: absolute;
    top: 40px;
    bottom: 0px;
	left:0px;
	right:0px;
	background-color: rgb(246, 178, 107);
}

