body{
	font-family: arial;
	background-color: rgb(246, 178, 107);
}

ul {
	list-style-type: none;
	margin:0;
	padding:0;
}
#plantillas{
	display: none;
}

.alto_pulgar{
    height: 3em;
}

.ancho_pulgar{
    width: 3em;
}

div.pantalla{
    display: none;
    position: absolute;
    top: 6em;
    bottom: 0px;
	left:0px;
	width:100%;
	background-color: #c8c8c8;
	overflow: hidden;
}




div.list{
	position:absolute;
	
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	
	overflow-x: hidden;
	overflow-y: scroll;
	
	border-top: solid 2px rgb(223, 164, 103);
	border-left: solid 2px rgb(150,150,150);
}


li.list_item{
	background-color: rgb(200,200,200);
	height: 3em;
	padding-top: 0.6em;
	padding-left: 0.6em;
	border-bottom: solid 1px rgb(190,190,190);
	
	position: relative;
	box-sizing: border-box;
	color: rgb(70,70,70);
	text-align: left;
    font-size: 1.2em;
    cursor: pointer;
}


.contenedor_atributo_lista{
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
	background-color: rgb(200,200,200);
	color: rgb(70,70,70);
	text-align: left;
	padding-top: 4px;
}

.contenedor_atributo_lista
ul{
	position: relative;
	left: 31%;
	right: 0px;
	margin-top: 15px;
	bottom: 0px;
}

.contenedor_atributo_lista
li{
	background-color: rgb(200,200,200);
	color: rgb(70,70,70);
	text-align: left;
	height: 3em;
	padding-top: 4px;
	border-bottom: solid 1px rgb(190,190,190);
}
