#pantalla_instrumento .nombre_atributo{
    position:absolute;
    top: 15px;
    right: 71%;
    color: gray;
}
#pantalla_instrumento .valor_atributo{
    position:absolute;
    top: 15px;
    left: 31%;
}
#pantalla_instrumento .contenedor_atributo{
    position: relative;
    box-sizing: border-box;
    font-size: 18px;
}

@media (max-width: 600px) {
    #pantalla_instrumento .nombre_atributo{
        left: 4px;
        top: 4px;
        font-size: 14px;
    }
    #pantalla_instrumento .valor_atributo{
        left: 4px;
        bottom: 4px;
        top: initial;
    }
}