#pantalla_lista_mediciones{
	text-align: center;
	padding-top: 50px;
}

#pantalla_lista_mediciones
div.custom_toolbar
#share{
	right: 40px;
	background:url(img/share.png) no-repeat center center;
}

#pantalla_lista_mediciones
#lista_mediciones{
	overflow-x: hidden;
	overflow-y: scroll;
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	
	border-top: solid 2px rgb(223, 164, 103);
	
}


#pantalla_lista_mediciones
#lista_mediciones
ul{
	
}



#pantalla_lista_mediciones
#lista_mediciones
ul
li.medicion_item{
	background-color: rgb(200,200,200);
	color: rgb(70,70,70);
	text-align: left;
	height: 20px;
	padding-top: 4px;
	border-bottom: solid 1px rgb(190,190,190);
}

