#pantalla_instrumento .titulo_propiedad{
    display: inline-block;
}
#pantalla_instrumento #codigo_instrumento{
    display: inline-block;
}
#pantalla_instrumento #descripcion_instrumento{
    display: inline-block;
}