#pantalla_medicion
#overlay_medicion{
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	background-color: rgb(255,255,255);
	display:none;
}

#overlay_swipe_izquierda{
	position: absolute;
	left: 0px;
	top: 0px;
	bottom: 0px;
    width:50%;
}

#overlay_swipe_derecha{
	position: absolute;
	right: 0px;
	top: 0px;
	bottom: 0px;
    width:50%;
}

#pantalla_medicion
.valorMedicion{
	position: absolute;
	width: 98%;
	top: 70px;
	
	text-align: center;
	font-size: 100px;
	font-weight: bold;
}
#pantalla_medicion
#valorMedicion{
	
	color: rgb(50,50,50);
	display: none;
}


#pantalla_medicion
#valorMedicionTiempoReal{
	color: rgb(255,255,255);
	font-size: 100px;
}



#pantalla_medicion
#cotaMedicion{
	color: rgb(50,50,50);
	display: none;
}
#pantalla_medicion
#tipoPiezaMedicion{
	color: rgb(50,50,50);
	display: none;
}



#pantalla_medicion
#cotaSeleccionada{
	color: rgb(255,255,255);
}

#pantalla_medicion
#tipoPiezaSeleccionada{
	color: rgb(255,255,255);
}

#pantalla_medicion
#cotaAnterior{
	color: rgb(255,255,255);
}

#pantalla_medicion
#tipoPiezaAnterior{
	color: rgb(255,255,255);
}



#pantalla_medicion
div.tipoPieza{
	position: absolute;
	top: 10px;
	left: 5px;
	height: 3em;
	font-size: 20px;
}

#pantalla_medicion
div.cota{
	position: absolute;
	top: 40px;
	left: 5px;
	height: 3em;
	font-size: 20px;
}


#pantalla_medicion
.dialMedicion{
	position: absolute;
	left: 1%;
	top: 175px;
		
	width: 98%;
	height: 80px;
}

#pantalla_medicion
#dialMedicionTiempoReal{

}



#pantalla_medicion
#dialMedicion{
	display: none;
}


#pantalla_medicion
#btn_lista_mediciones{
	right: 0px;
}



#pantalla_medicion
#boton_medir{
	position: absolute;
	bottom: 10px;
	right: 10px;
	width: 100px;
	height: 100px;
}

