

#toolbar{
	z-index: 1;
	position: absolute;
	left:0px;
	right:0px;
	top:0px;
	height:40px;
	border-bottom: solid 2px rgb(255, 255, 255);
	background-color: rgb(246, 178, 107);
	overflow: hidden;
	text-align: right;
}


#toolbar
#marca_sime{
	
	font-size: 35px;
	color: rgb(255,255,255);
	position: absolute;
	
	text-align: center;
    width: 90px;
	
	left: 1px;
	top: -2px;
	text-shadow: 0 0 5px rgb(250,250,250);
	transition:text-shadow 0.5s ease-in-out;
	-webkit-transition:text-shadow 0.5s ease-in-out;
}

#toolbar
#marca_sime.iluminado{
	text-shadow: 0 0 30px rgb(255,255,255);
	transition:text-shadow 0.5s ease-in-out;
	-webkit-transition:text-shadow 0.5s ease-in-out;
	font-weight: bold; 
}

#toolbar
#titulo{
	text-shadow: 0 0 5px rgb(250,250,250);
	
	font-size: 25px;
	color: rgb(255,255,255);
	position: absolute;
	left: 110px;
	top: 7px;

}

#toolbar
#brillo_toolbar{
	z-index: 1;
	position: absolute;
	left:0px;
	top:40px;
	height:0px;
	width: 60px;
	border: solid 1px rgb(255, 255, 255);
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 0px 20px 1px rgba(255,255,255,1);
	display: none;
}


#toolbar
#brillo_toolbar
#brillo_toolbar_centro{
	z-index: 2;
	position: absolute;
	left:50%;
	top:-1px;
	height:0px;
	
	width: 6px;
	margin-left: -3px;
	
	border: solid 1px rgb(255, 255, 255);
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 0px 30px 10px rgba(255,255,255,1);
}



#options_list{
	position: absolute;
	top: 0px;
	right: 0px;
	width: 120px;
	z-index:3;
	display:none;
	background-color: rgb(200, 200, 200);
}

#options_list
div.link_pantalla{
	border: solid 1px;
	z-index:4;
	
	font-size: 15px;
	padding: 6px 1px 5px 5px;
	
	border-color: rgb(100,100,100);
}




#custom_toolbar{
	top:0px;
	height: 40px;
	display:inline-block;
}


#toolbar
.toolbar_button{
	top: 0px;
	display:inline-block;
	height: 40px;
	width: 40px;
	
}


#toolbar
#options{
	background:url(img/options.png) no-repeat center center;
}


#toolbar
#custom_toolbar
#btn_pantalla_medicion{
	background:url(img/medir.png) no-repeat center center;
}

#toolbar
#custom_toolbar
#btn_pantalla_lista_mediciones{
	background:url(img/list.png) no-repeat center center;
}



#toolbar
#custom_toolbar
#btn_pantalla_exportar{
	background:url(img/share.png) no-repeat center center;
}


div.btn_agregar{
	font-size: 36px;
    font-weight: bold;
    color: white;
    background:url(img/agregar.png) no-repeat center center;
}

div.btn_aceptar{
	font-size: 28px;
    font-weight: bold;
    color: green;
    
    background:url(img/aceptar.png) no-repeat center center;
}

div.btn_cancelar{
	font-size: 28px;
    font-weight: bold;
    color: red;
    
	background:url(img/cancelar.png) no-repeat center center;
	
}





